# Python / Django
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.py[cod]
*.so
*.egg-info/
*.idea/
*.vscode/
*.env
.env
.env.*
db.sqlite3

# Jupyter / Checkpoints
*.ipynb_checkpoints/

# Models
*.pt
*.bin
*.safetensors
*.h5

# OS / Editor
.DS_Store
Thumbs.db

# Cache
data/cache/

# Build
/build/
/dist/
/*.egg
*.tar.gz
