@font-face {
    font-family: 'Kucing'; 
    src: url('../fonts/Kucing.otf') format('opentype'); 
}

body.dark-mode {
    background-color: #121212; /* Dark background */
    color: #e0e0e0b8; /* Light gray text */
}

body.light-mode {
    background-color: rgba(255, 255, 255, 0.764); /* Light background */
    color: rgb(0, 0, 0); /* Dark text */
}

h1, h2, h3 {
    color: #77658c; /* Light purple for headings */
    font-family: 'Calibri'; 
}

.logo-title {
    font-family: 'Kucing', Arial, sans-serif; /* Use Kucing for the logo text */
    color: #77658c; /* Light purple for headings */
    margin: 0; /* Remove default margin */
}

.source-item {
    background-color: #1E1E1E; /* Slightly lighter dark background for source items */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

textarea {
    background-color: #2C2C2C; /* Darker textarea */
    color: #E0E0E0; /* Light gray text in textarea */
    border: 1px solid #77658c; /* Light purple border */
}

input[type="file"] {
    background-color: #2C2C2C; /* Darker input field */
    color: #E0E0E0; /* Light gray text in input field */
    border: 1px solid #77658c; /* Light purple border */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin-bottom: 10px; /* Space below the logo section */
    padding-top: 20px; /* Add padding instead of margin */
}

.logo {
    height: 35px; /* Adjust this value to match the height of "CiteCat" */
    width: auto; /* Maintain aspect ratio */
}

h1 {
    margin-left: 10px; /* Space between logo and text */
    font-size: 2em; /* Adjust font size as needed */
}

#theme-toggle {
    margin-right: 5px;
}

label[for="theme-toggle"] {
    font-family: 'Kucing', Arial, sans-serif;
    font-weight: bold;
    color: #77658c; /* Light purple to match headings */
    font-size: 16px;
}

.header-container a {
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Kucing', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px; 
}

/* Light mode styles */ 
.light-mode .header-container a {
    color: black; 
}

/* Dark mode styles */ 
.dark-mode .header-container a {
    color: white; 
}

.header-container label {
    color: #77658c; /* Light purple color */
    font-family: 'Kucing', Arial, sans-serif;
}

/* Light mode styles */
.light-mode .header-container label {
    color: #77658c; /* Keep same color in light mode */
}

/* Dark mode styles */
.dark-mode .header-container label {
    color: #77658c; /* Keep same color in dark mode */
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}